dist: trusty
language: rust
rust:
  - stable
  - beta
  - nightly
  - 1.26.2
os:
  - linux
  - osx
  - windows
cache: cargo

before_install:
  - cd src

script:
  - cargo build --all --verbose
  - cargo test --all --verbose -- --test-threads=1

jobs:
  include:
    - stage: fmt
      install:
        - rustup component add rustfmt-preview
        - cargo fmt --version
      script:
        - cargo fmt --all -- --check
