(
    dst: (
        transforms: [
            ((3), Function("fits_to_3d_image")),
            ((9), Constant([
                Float3((0, 0, 1)),
            ])),
            ((2), Function("open_fits")),
            ((13), Constant([
                Roi(All),
            ])),
            ((5), Function("slice_3d_to_2d")),
            ((11), Constant([
                Integer(70),
            ])),
            ((8), Constant([
                Float3((0, 1, 0)),
            ])),
            ((6), Function("make_plane3d")),
            ((10), Constant([
                Integer(70),
            ])),
            ((7), Constant([
                Float3((40, 0, 0)),
            ])),
            ((12), Function("extract_wave")),
            ((1), Function("open_fits")),
            ((4), Constant([
                Str("/home/malik/workspace/lab/aflak/data/manga-7443-12703-LINCUBE.fits"),
            ])),
        ],
        edges: [
            ((
                t_idx: (1),
                output_i: (0),
            ), (
                t_idx: (3),
                input_i: (0),
            )),
            ((
                t_idx: (3),
                output_i: (0),
            ), (
                t_idx: (5),
                input_i: (0),
            )),
            ((
                t_idx: (3),
                output_i: (0),
            ), (
                t_idx: (12),
                input_i: (0),
            )),
            ((
                t_idx: (4),
                output_i: (0),
            ), (
                t_idx: (1),
                input_i: (0),
            )),
            ((
                t_idx: (13),
                output_i: (0),
            ), (
                t_idx: (12),
                input_i: (1),
            )),
            ((
                t_idx: (11),
                output_i: (0),
            ), (
                t_idx: (6),
                input_i: (4),
            )),
            ((
                t_idx: (6),
                output_i: (0),
            ), (
                t_idx: (5),
                input_i: (1),
            )),
            ((
                t_idx: (9),
                output_i: (0),
            ), (
                t_idx: (6),
                input_i: (2),
            )),
            ((
                t_idx: (8),
                output_i: (0),
            ), (
                t_idx: (6),
                input_i: (1),
            )),
            ((
                t_idx: (7),
                output_i: (0),
            ), (
                t_idx: (6),
                input_i: (0),
            )),
            ((
                t_idx: (10),
                output_i: (0),
            ), (
                t_idx: (6),
                input_i: (3),
            )),
        ],
        outputs: [
            ((2), Some((
                t_idx: (12),
                output_i: (0),
            ))),
            ((1), Some((
                t_idx: (5),
                output_i: (0),
            ))),
        ],
    ),
    node_states: [
        (Transform((1)), (
            selected: false,
            pos: (-209, -373),
            size: (62, 117),
        )),
        (Transform((2)), (
            selected: false,
            pos: (399, -311),
            size: (62, 117),
        )),
        (Transform((3)), (
            selected: false,
            pos: (-53, -280),
            size: (111, 117),
        )),
        (Transform((4)), (
            selected: false,
            pos: (-511, -264),
            size: (206.5, 56),
        )),
        (Transform((5)), (
            selected: false,
            pos: (127, -117),
            size: (97, 117),
        )),
        (Transform((6)), (
            selected: false,
            pos: (-77, -37),
            size: (83, 117),
        )),
        (Transform((7)), (
            selected: false,
            pos: (-425, -67),
            size: (220.5, 56),
        )),
        (Transform((8)), (
            selected: false,
            pos: (-474, -23),
            size: (220.5, 56),
        )),
        (Transform((9)), (
            selected: false,
            pos: (-509, 33),
            size: (220.5, 56),
        )),
        (Transform((10)), (
            selected: false,
            pos: (-381, 105),
            size: (185.5, 56),
        )),
        (Transform((11)), (
            selected: false,
            pos: (-402, 196),
            size: (185.5, 56),
        )),
        (Transform((12)), (
            selected: true,
            pos: (169, -388),
            size: (83, 117),
        )),
        (Transform((13)), (
            selected: false,
            pos: (116, -265),
            size: (20, 37),
        )),
        (Output((1)), (
            selected: false,
            pos: (393, -103),
            size: (125, 117),
        )),
        (Output((2)), (
            selected: false,
            pos: (315, -480),
            size: (125, 117),
        )),
    ],
)
